<div class="questions">
  <button class="questions__btn btn" routerLink="/home">Cancel quiz</button>
  <h4 class="questions__time">Time: {{timer$ | async | timer}}</h4>
  <h4 class="questions__difficulty">Question difficulty:
    <span class="emphasis" [ngClass]="{'green': question.difficulty === 'easy', 'yellow': question.difficulty === 'medium',
    'red': question.difficulty === 'hard'}">{{question.difficulty}}
  </span>
  </h4>
  <div class="questions__question question">
    <h3 class="question__text">{{question.question | transformSymbols}}</h3>
    <div class="question__answers">
      <button class="question__btn btn"
        (click)="answer(1, questions.length, question.difficulty)">{{question.correct_answer |
        transformSymbols}}</button>
      <button class="question__btn btn" *ngFor="let incorrect_answer of question.incorrect_answers"
        (click)="answer(0, questions.length, question.difficulty)">{{incorrect_answer | transformSymbols}}</button>
    </div>
  </div>
</div>
